adchemix/app/views/campaigns/campaignsDetails.jade
nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a.active(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="CampaignsDetailsController")
    section.item-details
        header.title
            h1 {{details.campaign}}
        .description
            p ad cost: ${{details.ad_cost}}
            p margin: {{details.margin}}%
            p profit: ${{details.profit}}
            p revenue: ${{details.revenue}}
            p total clicks: {{details.total_clicks}}
            p total cost: ${{details.total_cost}}
            p unit cost: ${{details.unit_cost}}
            p units: {{details.units}}

    section.mdl-accordion
        accordion(close-others="oneAtATime")
            accordion-group(ng-repeat="title in header", ng-init="status = {isFirstOpen: true}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled")
                accordion-heading
                    span {{title}} 
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                graphy

adchemix/app/views/campaigns/campaignsDetails.html
<nav><a ui-sref="dashboard">Dashboard </a><a ui-sref="products">Products</a><a ui-sref="categories">Product Categories </a><a ui-sref="campaigns" class="active">Campaigns</a><a ui-sref="adgroup">Ad Group</a><a ui-sref="keywords">Keywords</a><a ui-sref="adcreative">Ad Creative</a><a ui-sref="channel">Channel</a></nav><article ng-controller="CampaignsDetailsController"><section class="item-details"><header class="title"><h1>{{details.campaign}}</h1></header><div class="description"><p>ad cost: ${{details.ad_cost}}</p><p>margin: {{details.margin}}%</p><p>profit: ${{details.profit}}</p><p>revenue: ${{details.revenue}}</p><p>total clicks: {{details.total_clicks}}</p><p>total cost: ${{details.total_cost}}</p><p>unit cost: ${{details.unit_cost}}</p><p>units: {{details.units}}</p></div></section><section class="mdl-accordion"><accordion close-others="oneAtATime"><accordion-group ng-repeat="title in header" ng-init="status = {isFirstOpen: true}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled"><accordion-heading><span>{{title}} </span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></accordion-heading><graphy></graphy></accordion-group></accordion></section></article>
