adchemix/app/views/campaigns/campaigns.jade
nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a.active(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="CampaignsController")
    header.title
        h1 Campaigns 
        
    section.mainBody
        .buttons
            a.button(href="#") day
            a.button(href="#") month 
            a.button.active(href="#") year 

        #chart

        table
            tr
                th Campaigns
                th Ad Cost
                th Unit Cost
                th Total Cost
                th Units
                th Revenue
                th Profit
                th Margin

            tr(ng-repeat="campaign in campaignResults") 
                td
                    a(ui-sref="campaign-details") {{campaign.campaign}}
                td ${{campaign.ad_cost}}
                td ${{campaign.unit_cost}} 
                td ${{campaign.total_cost}}
                td {{campaign.units}}
                td ${{campaign.revenue}}
                td ${{campaign.profit}}
                td %{{campaign.margin}}

adchemix/app/views/campaigns/campaigns.html
<nav><a ui-sref="dashboard">Dashboard </a><a ui-sref="products">Products</a><a ui-sref="categories">Product Categories </a><a ui-sref="campaigns" class="active">Campaigns</a><a ui-sref="adgroup">Ad Group</a><a ui-sref="keywords">Keywords</a><a ui-sref="adcreative">Ad Creative</a><a ui-sref="channel">Channel</a></nav><article ng-controller="CampaignsController"><header class="title"><h1>Campaigns </h1></header><section class="mainBody"><div class="buttons"><a href="#" class="button">day</a><a href="#" class="button">month </a><a href="#" class="button active">year </a></div><div id="chart"></div><table><tr><th>Campaigns</th><th>Ad Cost</th><th>Unit Cost</th><th>Total Cost</th><th>Units</th><th>Revenue</th><th>Profit</th><th>Margin</th></tr><tr ng-repeat="campaign in campaignResults"> <td><a ui-sref="campaign-details">{{campaign.campaign}}</a></td><td>${{campaign.ad_cost}}</td><td>${{campaign.unit_cost}} </td><td>${{campaign.total_cost}}</td><td>{{campaign.units}}</td><td>${{campaign.revenue}}</td><td>${{campaign.profit}}</td><td>%{{campaign.margin}}</td></tr></table></section></article>
