adchemix/app/views/channel/channel.jade
nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a.active(ui-sref="channel") Channel

article(ng-controller="ChannelController")
    header.title
        h1 Channel
        
    section.mainBody
        .buttons
            a.button(href="#") day
            a.button(href="#") month 
            a.button.active(href="#") year 

        #chart

        table
            tr
                th Channel
                th Ad Cost
                th Unit Cost
                th Total Cost
                th Units
                th Revenue
                th Profit
                th Margin
            tr(ng-repeat="channel in channelResults") 
                td
                    a(ui-sref="channel-details") {{channel.channel}}
                td ${{channel.ad_cost}}
                td ${{channel.unit_cost}} 
                td ${{channel.total_cost}}
                td {{channel.units}}
                td ${{channel.revenue}}
                td ${{channel.profit}}
                td %{{channel.margin}}

adchemix/app/views/channel/channel.html
<nav><a ui-sref="dashboard">Dashboard </a><a ui-sref="products">Products</a><a ui-sref="categories">Product Categories </a><a ui-sref="campaigns">Campaigns</a><a ui-sref="adgroup">Ad Group</a><a ui-sref="keywords">Keywords</a><a ui-sref="adcreative">Ad Creative</a><a ui-sref="channel" class="active">Channel</a></nav><article ng-controller="ChannelController"><header class="title"><h1>Channel</h1></header><section class="mainBody"><div class="buttons"><a href="#" class="button">day</a><a href="#" class="button">month </a><a href="#" class="button active">year </a></div><div id="chart"></div><table><tr><th>Channel</th><th>Ad Cost</th><th>Unit Cost</th><th>Total Cost</th><th>Units</th><th>Revenue</th><th>Profit</th><th>Margin</th></tr><tr ng-repeat="channel in channelResults"> <td><a ui-sref="channel-details">{{channel.channel}}</a></td><td>${{channel.ad_cost}}</td><td>${{channel.unit_cost}} </td><td>${{channel.total_cost}}</td><td>{{channel.units}}</td><td>${{channel.revenue}}</td><td>${{channel.profit}}</td><td>%{{channel.margin}}</td></tr></table></section></article>
