adchemix/app/views/login/login.jade
section(ng-controller="LoginController")
    .form-container
        form(role="form" ng-submit="login()")
            p(class="form-group")
                label(for="username")
                input(placeholder="USERNAME" type="text" class="form-control" id="username" name="username" ng-model="credentials.username")
            p(class="form-group")
                label(for="password") 
                input(placeholder="PASSWORD" type="password" class="form-control" id="password" name="password" ng-model="credentials.password")
            button(type="submit" class="btn btn-primary") Login 
            p.helper: a(href="#") Forgot Password 

adchemix/app/views/login/login.html
<section ng-controller="LoginController"><div class="form-container"><form role="form" ng-submit="login()"><p class="form-group"><label for="username"></label><input placeholder="USERNAME" type="text" id="username" name="username" ng-model="credentials.username" class="form-control"/></p><p class="form-group"><label for="password"> </label><input placeholder="PASSWORD" type="password" id="password" name="password" ng-model="credentials.password" class="form-control"/></p><button type="submit" class="btn btn-primary">Login </button><p class="helper"><a href="#">Forgot Password </a></p></form></div></section>
