adchemix/app/views/keyword/keywordsDetails.html
<nav><a ui-sref="dashboard">Dashboard </a><a ui-sref="products">Products</a><a ui-sref="categories">Product Categories </a><a ui-sref="campaigns">Campaigns</a><a ui-sref="adgroup">Ad Group</a><a ui-sref="keywords" class="active">Keywords</a><a ui-sref="adcreative">Ad Creative</a><a ui-sref="channel">Channel</a></nav><article ng-controller="KeywordsDetailsController"><section class="item-details"><header class="title"><h1>{{details.keyword}}</h1></header><div class="description"><p>Ad Cost: ${{details.ad_cost}}</p><p>Ad Group: {{details.ad_group}}</p><p>Campaign: {{details.campaign}}</p><p>Channel: {{details.channel}}</p><p>Margin: {{details.margin}}%</p><p>Profit: ${{details.profit}}</p><p>Revenue: ${{details.revenue}}</p><p>Total Clicks: {{details.total_clicks}}</p><p>Total Cost: ${{details.total_cost}}</p><p>Unit Cost: ${{details.unit_cost}}</p><p>Units: {{details.units}}</p></div></section><section class="mdl-accordion"><accordion close-others="oneAtATime"><accordion-group ng-repeat="title in header" ng-init="status = {isFirstOpen: true}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled"><accordion-heading><span>{{title}} </span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></accordion-heading><graphy></graphy></accordion-group></accordion></section></article>

adchemix/app/views/keyword/keywordsDetails.jade
nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a.active(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="KeywordsDetailsController")
    section.item-details
        header.title
            h1 {{details.keyword}}
        .description
            p Ad Cost: ${{details.ad_cost}}
            p Ad Group: {{details.ad_group}}
            p Campaign: {{details.campaign}}
            p Channel: {{details.channel}}
            p Margin: {{details.margin}}%
            p Profit: ${{details.profit}}
            p Revenue: ${{details.revenue}}
            p Total Clicks: {{details.total_clicks}}
            p Total Cost: ${{details.total_cost}}
            p Unit Cost: ${{details.unit_cost}}
            p Units: {{details.units}}

    section.mdl-accordion
        accordion(close-others="oneAtATime")
            accordion-group(ng-repeat="title in header", ng-init="status = {isFirstOpen: true}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled")
                accordion-heading
                    span {{title}} 
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                graphy
