adchemix/app/views/keyword/keywords.html
<nav><a ui-sref="dashboard">Dashboard </a><a ui-sref="products">Products</a><a ui-sref="categories">Product Categories </a><a ui-sref="campaigns">Campaigns</a><a ui-sref="adgroup">Ad Group</a><a ui-sref="keywords" class="active">Keywords</a><a ui-sref="adcreative">Ad Creative</a><a ui-sref="channel">Channel</a></nav><article ng-controller="KeywordsController"><header class="title"><h1>Keywords</h1></header><section class="mainBody"><div class="buttons"><a href="#" class="button">day</a><a href="#" class="button">month </a><a href="#" class="button active">year </a></div><div id="chart"></div><table><tr><th>Keywords </th><th>Ad Cost</th><th>Unit Cost</th><th>Total Cost</th><th>Units</th><th>Revenue</th><th>Profit</th><th>Margin</th></tr><tr ng-repeat="keyword in keywordResults"> <td><a ui-sref="keyword-details">{{keyword.campaign}}</a></td><td>${{keyword.ad_cost}}</td><td>${{keyword.unit_cost}} </td><td>${{keyword.total_cost}}</td><td>{{keyword.units}}</td><td>${{keyword.revenue}}</td><td>${{keyword.profit}}</td><td>%{{keyword.margin}}</td></tr></table></section></article>

adchemix/app/views/keyword/keywords.jade
nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a.active(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="KeywordsController")
    header.title
        h1 Keywords
        
    section.mainBody
        .buttons
            a.button(href="#") day
            a.button(href="#") month 
            a.button.active(href="#") year 

        #chart

        table
            tr
                th Keywords 
                th Ad Cost
                th Unit Cost
                th Total Cost
                th Units
                th Revenue
                th Profit
                th Margin
            tr(ng-repeat="keyword in keywordResults") 
                td
                    a(ui-sref="keyword-details") {{keyword.campaign}}
                td ${{keyword.ad_cost}}
                td ${{keyword.unit_cost}} 
                td ${{keyword.total_cost}}
                td {{keyword.units}}
                td ${{keyword.revenue}}
                td ${{keyword.profit}}
                td %{{keyword.margin}}
