adchemix/app/views/products/products.html
<nav><a ui-sref="dashboard">Dashboard </a><a ui-sref="products" class="active">Products</a><a ui-sref="categories">Product Categories </a><a ui-sref="campaigns">Campaigns</a><a ui-sref="adgroup">Ad Group</a><a ui-sref="keywords">Keywords</a><a ui-sref="adcreative">Ad Creative</a><a ui-sref="channel">Channel</a></nav><article ng-controller="ProductsController"><header class="title"><h1>Products </h1></header><section ng-hide="" class="mainBody"><div class="buttons"><a href="#" class="button">day</a><a href="#" class="button">month </a><a href="#" class="button active">year </a></div><div id="chart"></div><table><tr><th>Products </th><th>Ad Cost</th><th>Unit Cost</th><th>Total Cost</th><th>Units</th><th>Revenue</th><th>Profit</th><th>Margin</th></tr><tr ng-repeat="product in productResults"> <td><a ui-sref="product-details">{{product.product}}</a></td><td>${{product.ad_cost}}</td><td>${{product.unit_cost}} </td><td>${{product.total_cost}}</td><td>{{product.units}}</td><td>${{product.revenue}}</td><td>${{product.profit}}</td><td>%{{product.margin}}</td></tr></table></section></article>

adchemix/app/views/products/products.jade
nav
    a(ui-sref="dashboard") Dashboard 
    a.active(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="ProductsController")
    header.title
        h1 Products 

    section.mainBody(ng-hide="")
        .buttons
            a.button(href="#") day
            a.button(href="#") month 
            a.button.active(href="#") year 

        #chart
            
        table
            tr
                th Products 
                th Ad Cost
                th Unit Cost
                th Total Cost
                th Units
                th Revenue
                th Profit
                th Margin
            tr(ng-repeat="product in productResults") 
                td
                    a(ui-sref="product-details") {{product.product}}
                td ${{product.ad_cost}}
                td ${{product.unit_cost}} 
                td ${{product.total_cost}}
                td {{product.units}}
                td ${{product.revenue}}
                td ${{product.profit}}
                td %{{product.margin}}
