adchemix/app/views/products/productsDetails.jade
nav
    a(ui-sref="dashboard") Dashboard 
    a.active(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="ProductsDetailsController")
    section.item-details
        header.title
            h1 {{details.product}}
        .description
            img(src="{{details.product_photo_url}}")
            .details 
                p {{details.product_description}}
            p Price: ${{details.product_price}}
            p Category: {{details.product_category}}
            p Ad Cost: ${{details.ad_cost}}
            p Margin: {{details.margin}}%
            p Sale ${{details.product_sale_price}}
            p Profit: ${{details.profit}}
            p Revenue: ${{details.revenue}}
            p Total Clicks: {{details.total_clicks}}
            p Total Cost: ${{details.total_cost}}
            p Unit Cost: ${{details.unit_cost}}
            p Units: {{details.units}}
            
        graphy


    section.mdl-accordion
        accordion(close-others="oneAtATime")
            accordion-group(ng-repeat="title in header", ng-init="status = {isFirstOpen: true}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled")
                accordion-heading
                    span {{title}} 
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                graphy

adchemix/app/views/products/productsDetails.html
<nav><a ui-sref="dashboard">Dashboard </a><a ui-sref="products" class="active">Products</a><a ui-sref="categories">Product Categories </a><a ui-sref="campaigns">Campaigns</a><a ui-sref="adgroup">Ad Group</a><a ui-sref="keywords">Keywords</a><a ui-sref="adcreative">Ad Creative</a><a ui-sref="channel">Channel</a></nav><article ng-controller="ProductsDetailsController"><section class="item-details"><header class="title"><h1>{{details.product}}</h1></header><div class="description"><img src="{{details.product_photo_url}}"/><div class="details"> <p>{{details.product_description}}</p></div><p>Price: ${{details.product_price}}</p><p>Category: {{details.product_category}}</p><p>Ad Cost: ${{details.ad_cost}}</p><p>Margin: {{details.margin}}%</p><p>Sale ${{details.product_sale_price}}</p><p>Profit: ${{details.profit}}</p><p>Revenue: ${{details.revenue}}</p><p>Total Clicks: {{details.total_clicks}}</p><p>Total Cost: ${{details.total_cost}}</p><p>Unit Cost: ${{details.unit_cost}}</p><p>Units: {{details.units}}</p></div><graphy></graphy></section><section class="mdl-accordion"><accordion close-others="oneAtATime"><accordion-group ng-repeat="title in header" ng-init="status = {isFirstOpen: true}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled"><accordion-heading><span>{{title}} </span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></accordion-heading><graphy></graphy></accordion-group></accordion></section></article>
