adchemix/app/views/adCreative/adcreative.html
<nav><a ui-sref="dashboard">Dashboard </a><a ui-sref="products">Products</a><a ui-sref="categories">Product Categories </a><a ui-sref="campaigns">Campaigns</a><a ui-sref="adgroup">Ad Group</a><a ui-sref="keywords">Keywords</a><a ui-sref="adcreative" class="active">Ad Creative</a><a ui-sref="channel">Channel</a></nav><article ng-controller="AdCreativeController"><header class="title"><h1>Ad creative </h1></header><section class="mainBody"><div class="buttons"><a href="#" class="button">day</a><a href="#" class="button">month </a><a href="#" class="button active">year </a></div><div id="chart"></div><table><tr><th>Ad Creative </th><th>Ad Cost</th><th>Unit Cost</th><th>Total Cost</th><th>Units</th><th>Revenue</th><th>Profit</th><th>Margin</th></tr><tr ng-repeat="ad in adCreativeResults"> <td><a ui-sref="adcreative-details">{{ad.campaign}}</a></td><td>${{ad.ad_cost}}<td>${{ad.unit_cost}} </td><td>${{ad.total_cost}}</td><td>{{ad.units}}</td><td>${{ad.revenue}}</td><td>${{ad.profit}}</td><td>%{{ad.margin}}</td></td></tr></table></section></article>

adchemix/app/views/adCreative/adcreative.jade
nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a.active(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="AdCreativeController")
    header.title
        h1 Ad creative 
        
    section.mainBody
        .buttons
            a.button(href="#") day
            a.button(href="#") month 
            a.button.active(href="#") year 

        #chart

        table
            tr
                th Ad Creative 
                th Ad Cost
                th Unit Cost
                th Total Cost
                th Units
                th Revenue
                th Profit
                th Margin
            tr(ng-repeat="ad in adCreativeResults") 
               td
                    a(ui-sref="adcreative-details") {{ad.campaign}}
                td ${{ad.ad_cost}}
                td ${{ad.unit_cost}} 
                td ${{ad.total_cost}}
                td {{ad.units}}
                td ${{ad.revenue}}
                td ${{ad.profit}}
                td %{{ad.margin}}
