adchemix/app/views/adCreative/adcreativeDetails.html
<nav><a ui-sref="dashboard">Dashboard </a><a ui-sref="products">Products</a><a ui-sref="categories">Product Categories </a><a ui-sref="campaigns">Campaigns</a><a ui-sref="adgroup">Ad Group</a><a ui-sref="keywords">Keywords</a><a ui-sref="adcreative" class="active">Ad Creative</a><a ui-sref="channel">Channel</a></nav><article ng-controller="AdCreativeDetailsController"><section class="item-details"><header class="title"><h1>{{details.ad_group}} </h1></header><div class="description"><div class="details"> <p>{{details.ad_description_line_1}}</p><p>{{details.ad_description_line_2}}</p><p> <a href="{{details.ad_destination_url}}">{{details.ad_display_url}}</a></p></div><p>Campaign: {{details.campaign}}</p><p>Channel: {{details.channel}}</p><p>Ad Cost: ${{details.ad_cost}}</p><p>Margin: {{details.margin}}%</p><p>Profit: ${{details.profit}}</p><p>Revenue: ${{details.revenue}}</p><p>Total Clicks: {{details.total_clicks}}</p><p>Total Cost: ${{details.total_cost}}</p><p>Unit Cost: ${{details.unit_cost}}</p><p>Units: {{details.units}}</p></div></section><section class="mdl-accordion"><accordion close-others="oneAtATime"><accordion-group ng-repeat="title in header" ng-init="status = {isFirstOpen: true}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled"><accordion-heading><span>{{title}} </span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></accordion-heading><graphy></graphy></accordion-group></accordion></section></article>

adchemix/app/views/adCreative/adcreativeDetails.jade
nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a.active(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="AdCreativeDetailsController")
    section.item-details
        header.title
            h1 {{details.ad_group}} 
        .description
            .details 
                p {{details.ad_description_line_1}}
                p {{details.ad_description_line_2}}
                p 
                    a(href="{{details.ad_destination_url}}") {{details.ad_display_url}}
            p Campaign: {{details.campaign}}
            p Channel: {{details.channel}}
            p Ad Cost: ${{details.ad_cost}}
            p Margin: {{details.margin}}%
            p Profit: ${{details.profit}}
            p Revenue: ${{details.revenue}}
            p Total Clicks: {{details.total_clicks}}
            p Total Cost: ${{details.total_cost}}
            p Unit Cost: ${{details.unit_cost}}
            p Units: {{details.units}}


    section.mdl-accordion
        accordion(close-others="oneAtATime")
            accordion-group(ng-repeat="title in header", ng-init="status = {isFirstOpen: true}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled")
                accordion-heading
                    span {{title}} 
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                graphy
