adchemix/index.html
<!DOCTYPE html><html><head><title>AdChemix Prototype </title><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"><link type="text/css" rel="stylesheet" href="public/dist/css/c3.min.css"><link type="text/css" rel="stylesheet" href="public/dist/css/bootstrap.css"><link type="text/css" rel="stylesheet" href="public/dist/css/project.min.css"><link href="https://fontastic.s3.amazonaws.com/3BjxrfCejY4q2DyC3dw9Mm/icons.css" rel="stylesheet"></head><body ng-app="AdChemix" state="{{$state.current.name}}" class="page-{{$state.current.name}}"><div class="app-container"><header ui-view="header" class="header"></header><section ui-view="body" class="mainSection"></section></div></body><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script><script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script><script src="public/dist/js/d3.min.js"></script><script src="public/dist/js/c3.js"></script><script src="public/dist/js/ui-bootstrap.js"></script><script src="app/app.js"></script><script src="app/services/users.js"></script><script src="app/services/data.js"></script><script src="app/controllers/headerController.js"></script><script src="app/controllers/loginController.js"></script><script src="app/controllers/productsController.js"></script><script src="app/controllers/productsDetailsController.js"></script><script src="app/controllers/categoriesController.js"></script><script src="app/controllers/categoriesDetailsController.js"></script><script src="app/controllers/campaignsController.js"></script><script src="app/controllers/campaignsDetailsController.js"></script><script src="app/controllers/adGroupController.js"></script><script src="app/controllers/adGroupDetailsController.js"></script><script src="app/controllers/keywordsController.js"></script><script src="app/controllers/keywordsDetailsController.js"></script><script src="app/controllers/adCreativeController.js"></script><script src="app/controllers/adCreativeDetailsController.js"></script><script src="app/controllers/channelController.js"></script><script src="app/controllers/channelDetailsController.js"></script><script src="app/directives/graph.js"></script><script src="test/angular-mocks.js"></script><script src="test/app-test.js"></script></html>

adchemix/app/index.jade
doctype html
html
	head
		title AdChemix Prototype 
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
		link(type="text/css", rel="stylesheet", href="public/dist/css/c3.min.css")
		link(type="text/css", rel="stylesheet", href="public/dist/css/bootstrap.css")
		link(type="text/css", rel="stylesheet", href="public/dist/css/project.min.css")
		link(href="https://fontastic.s3.amazonaws.com/3BjxrfCejY4q2DyC3dw9Mm/icons.css" rel="stylesheet")


	body(ng-app="AdChemix", state="{{$state.current.name}}", class="page-{{$state.current.name}}")
		.app-container
			header.header(ui-view="header")
			section.mainSection(ui-view="body")


	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
	script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js")

	script(src="public/dist/js/d3.min.js")
	script(src="public/dist/js/c3.js")
	script(src="public/dist/js/ui-bootstrap.js")

	script(src="app/app.js")

	script(src="app/services/users.js")
	script(src="app/services/data.js")

	script(src="app/controllers/headerController.js")
	script(src="app/controllers/loginController.js")

	script(src="app/controllers/productsController.js")
	script(src="app/controllers/productsDetailsController.js")

	script(src="app/controllers/categoriesController.js")
	script(src="app/controllers/categoriesDetailsController.js")

	script(src="app/controllers/campaignsController.js")
	script(src="app/controllers/campaignsDetailsController.js")

	script(src="app/controllers/adGroupController.js")
	script(src="app/controllers/adGroupDetailsController.js")

	script(src="app/controllers/keywordsController.js")
	script(src="app/controllers/keywordsDetailsController.js")

	script(src="app/controllers/adCreativeController.js")
	script(src="app/controllers/adCreativeDetailsController.js")

	script(src="app/controllers/channelController.js")
	script(src="app/controllers/channelDetailsController.js")

	script(src="app/directives/graph.js")

	script(src="test/angular-mocks.js")
	script(src="test/app-test.js")
