adchemix/app/views/productCategories/categories.jade
nav
    a(ui-sref="dashboard") Dashboard 
    a(ui-sref="products") Products
    a.active(ui-sref="categories") Product Categories 
    a(ui-sref="campaigns") Campaigns
    a(ui-sref="adgroup") Ad Group
    a(ui-sref="keywords") Keywords
    a(ui-sref="adcreative") Ad Creative
    a(ui-sref="channel") Channel

article(ng-controller="CategoriesController")
    header.title
        h1 Product Categories 
        
    section.mainBody
        .buttons
            a.button(href="#") day
            a.button(href="#") month 
            a.button.active(href="#") year 

        #chart 

        table
            tr
                th Product Categories 
                th Ad Cost
                th Unit Cost
                th Total Cost
                th Units
                th Revenue
                th Profit
                th Margin
            tr(ng-repeat="category in categoryResults") 
                td
                    a(ui-sref="category-details") {{category.product_category}}
                td ${{category.ad_cost}}
                td ${{category.unit_cost}} 
                td ${{category.total_cost}}
                td {{category.units}}
                td ${{category.revenue}}
                td ${{category.profit}}
                td %{{category.margin}}

adchemix/app/views/productCategories/categories.html
<nav><a ui-sref="dashboard">Dashboard </a><a ui-sref="products">Products</a><a ui-sref="categories" class="active">Product Categories </a><a ui-sref="campaigns">Campaigns</a><a ui-sref="adgroup">Ad Group</a><a ui-sref="keywords">Keywords</a><a ui-sref="adcreative">Ad Creative</a><a ui-sref="channel">Channel</a></nav><article ng-controller="CategoriesController"><header class="title"><h1>Product Categories </h1></header><section class="mainBody"><div class="buttons"><a href="#" class="button">day</a><a href="#" class="button">month </a><a href="#" class="button active">year </a></div><div id="chart"> </div><table><tr><th>Product Categories </th><th>Ad Cost</th><th>Unit Cost</th><th>Total Cost</th><th>Units</th><th>Revenue</th><th>Profit</th><th>Margin</th></tr><tr ng-repeat="category in categoryResults"> <td><a ui-sref="category-details">{{category.product_category}}</a></td><td>${{category.ad_cost}}</td><td>${{category.unit_cost}} </td><td>${{category.total_cost}}</td><td>{{category.units}}</td><td>${{category.revenue}}</td><td>${{category.profit}}</td><td>%{{category.margin}}</td></tr></table></section></article>
